<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SMS - Django</title>


  <style media="screen">
    .classroom {
      margin-top: 0px;
      margin-bottom: 0px;
      position: relative;
      top: 150px;
      font-weight: bold;
    }

    .classroom h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
    body{
      overflow-y: hidden;
    }
    .lead{
      font-weight: bold;
    }
  </style>


</head>

<body style="background-color: #FBFFB1;">
  {% include "navbar.html" %}
  <br>
  <br>

  <div class="classroom" style="margin-top: 0px;
    margin-bottom: 0px;">
    <h1 class="display-4">Hello {{request.user.first_name}},</h1>
    <p class="lead">Your Account has not been approved yet!<br><br>Our Administrative Team will be checking it soon. <br><br> You'll get to access the system after the confirmation.</p>
    <br>
    <p style="color:rgb(78, 214, 214);">Check Later</p>
    <p class="lead">
      <a class="btn btn-danger btn-lg" href="/logout" role="button">Logout</a>
    </p>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br>
  {% include "footer.html" %}
</body>

</html>
